#site-content {
  .entry-title,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $queens-blue;
  }

  // .entry-content {
  //   blockquote {
  //     background: url("images/blockquote.svg") no-repeat;
  //     border: none;
  //     padding: 30px 0 14px 90px;
  //     min-height: 105px;

  //     p {
  //       color: $queens-red;
  //       font-style: italic;
  //     }
  //   }
  // }

  // for the Display Posts plugin
  .display-posts-listing {

    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .title {
      display: block;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }


    @media (min-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
