/*
 Theme Name:   Museum of Near Eastern Archaeology VE
 Description:  QUL Twenty Twenty Child Theme for Virtual Exhibit
 Author:       Paul Clifford
 Template:     twentytwenty
 Version:      1.0.0
*/

@import "sass/vars";
@import "sass/global";
@import "sass/header";
@import "sass/main";
@import "sass/footer";